<div class="container">
  <h2 class="text-center mb-4">POPULAR CLEANING SERVICES</h2>

  <div class="row">
    {% for service in services %}
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img src="{{ service.image.url }}" class="card-img-top" height="220">
        <div class="card-body text-center">
          <h5>{{ service.name }}</h5>
          <p>₹ {{ service.price }}</p>

          <a href="{% url 'add_to_cart' service.id %}"
             class="btn btn-primary">
             Add to Cart
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
